.reviews{
  margin-top: 200px;

  
}


.reviews__slider .slick-dots {
  list-style: none;
  
  bottom: -60px;
  & button{
    
    width: 29px;
    height: 30px;
    
    background: url(../img/cake.svg)  0 0 no-repeat;
    //position: absolute;
    

    
  }
  & li{
    
    list-style: none;
    margin: 0 25px;
    
  }
}
.reviews__slider .slick-dots .slick-active{
  & button{
    background: url(../img/cake-active.svg)  0 0 no-repeat;
  }
}

.reviews__item{
  & img{
    margin: 0 auto;
  }
}

.reviews__slider{
  margin-top: 170px;
}

.reviews__slider .slick-arrow{
  z-index: 5;
  position: absolute;
  font-size: 0;
  width: 140px;
  height: 24px;
  top: 50%;
  &::before{
      display: none;
  }
}

.reviews__slider .slick-arrow.slick-prev{
  left: -32.5px;
  
  background: url('../img/review_prev.svg') 0 0 no-repeat;
  transition: all .5s ease-in-out;
  // &:hover{
  //   background: url('../img/circle-hover.svg') 0 0 no-repeat;
  // }
}

.reviews__slider .slick-arrow.slick-next{
  right: -32.5px;
  
  background: url('../img/review_next.svg') 0 0 no-repeat;

  transition: all .5s ease-in-out;
  // &:hover{
  //   background: url('../img/circle-hover.svg') 0 0 no-repeat;
  // }
}