
h3{
  font-size: 42px;
  font-family: "Palatino__bold";   
  color: #404040;
  
}

.d14 h3 {
  display: table;
  width: auto;
  margin: 25px auto;
  letter-spacing: 2px;
  position: relative;
}
.d14 h3:before {
  content: "";
  position: absolute;
  top: -25px;
  left: -60px;
  width: 155px;
  height: 54px;
  border-top: 3px solid #B18B8B;
  border-left: 3px solid #B18B8B;
}
.d14 h3:after {
  content: "";
  position: absolute;
  bottom: -25px;
  right: -60px;
  width: 155px;
  height: 54px;
  border-bottom: 3px solid #B18B8B;
  border-right: 3px solid #B18B8B;
}






.slick-slider{
  user-select:text;
}